@import "@sass/common/vars"

=hr($start: 10%, $end: 90%, $bgColor: #d4dbe0)
	border: 0
	height: 1px
	background:
		color: $bgColor
		image: linear-gradient(to left, #fff 0%, $bgColor $start, $bgColor $end, #fff 100%)